.container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(tablet) {
    width: 624px;
  }

  @include for-size(desktop) {
    width: 900px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
